.body {
  position: relative;

  .header {
    color: #333;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Space Mono', monospace;
  }

  .content {
    width: 530px;
    height: 400px;;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .gamearea {
      position: absolute;
      margin: 0 auto;
      display: flex;
      width: 350px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .wide {
      width: 530px;
    }

  }
}

.score, .quit {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.score {
  margin-top: -20px;
}

.quit {
  font-size: 16px;
  width: 30px;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
}
