.header {
  color: #333;
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
  font-family: 'Space Mono', monospace;
}

.content {
  width: 530px;
  height: 400px;;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamearea {
  position: absolute;
  margin: 0 auto;
  display: flex;
  width: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wide {
  width: 530px;
}
