$button-height: 40px;
$tall-button-height: 60px;

.container {
  margin: 0 auto;
  // position: absolute;
  // top: 50px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 250px;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
}

.butttonContainer {
  width: 100%;
  display: flex;
  height: $tall-button-height;
  justify-content: space-around;
  align-items: center;
  .easy,
  .hard,
  .triples,
  .timedGame,
  .flipGame,
  .begin {
    width: 80px;
    height: $button-height;
    line-height: $button-height;
    border: 1px solid #d4d4d4;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #c8ebff;
      border-color: #a7d8ff;
    }
  }

  .timedGame,
  .flipGame {
    height: $tall-button-height;
    line-height: $tall-button-height / 2;
  }
  .begin {
    color: white;
    border: 1px solid #d4d4d4;
    background: #4CAF50;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:hover {
    background: #4CAF50;
    border-color: #8BC34A;
    box-shadow: 0 7px 14px rgba(0,0,0,0.13), 0 10px 10px rgba(0,0,0,0.11);
    }
  }

  .selected {
    background-color: #c8ebff;
    border-color: #a7d8ff;
    border-right: 0;
    border-bottom: 0;
  }
}
