.winContainer {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 250px;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
}
